@import "tailwindcss";

/* Tailwind 4.0 uses @theme for configuration */
@theme {
  /* Custom CSS variables */
  --color-domino-ivory: #ffffeb;
  --color-playable-green: #179217;
  --color-chosen-blue: #0000ff;
  --color-turn-yellow: #ffffb1;
  --color-body-beige: #deddc8;
}

/* Layout styles from default.css */
@layer base {
  body {
    background-color: var(--color-body-beige);
  }

  #bodymask {
    background-color: var(--color-body-beige);
    width: 100%;
    height: 700px;
  }

  #container {
    width: 998px;
    margin: 0 auto;
    height: 684px;
    background-color: #fff;
    border-left: 1px solid rgb(195, 195, 195);
    border-right: 1px solid rgb(195, 195, 195);
  }

  #thewholegame {
    margin: 0 auto;
    background: no-repeat url('/images/game_sillohouete.png') #fff;
    width: 998px;
    height: 629px;
  }

  #header {
    width: 998px;
    height: 55px;
    padding-top: 5px;
    color: #fff;
    border-bottom: 1px solid rgb(195, 195, 195);
  }

  #footer {
    width: 984px;
    background-color: rgb(195, 195, 195);
    height: 100px;
    margin: 0 auto;
    padding: 8px;
  }
}

/* Custom sprite classes that must remain unchanged */
@layer components {

  /* Skeleton template styles */
  #seated-at-table {
    padding-top: 5px;
    margin: 0 auto;
  }

  #gamerow {
    padding-top: 3px;
  }

  #gamerow-left {
    width: 720px;
    overflow: hidden;
  }

  #upper-region {
    height: 200px;
    width: 250px;
  }

  #data-region {
    height: 160px;
    width: 250px;
  }

  .column-data-region {
    width: 80px;
  }

  .player-info {
    width: 75px;
    height: 30px;
  }

  .player-info div {
    text-align: center;
  }

  .player-name {
    margin-bottom: 2px;
  }

  span.player-name {
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  }

  .player-score {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  }

  #handbox-data-region {
    width: 75px;
    height: 75px;
    background: no-repeat url('/images/scoretable.png');
    margin-bottom: 4px;
  }

  .handcount {
    width: 25px;
    height: 30px;
  }

  .bonecount {
    text-align: center;
  }

  .bonecount span {
    color: #fff;
    font-weight: bold;
  }

  #hand-region {
    width: 100px;
    height: 450px;
    margin: 0 0 8px 40px;
  }

  #hand-region #handhold {
    margin: 8px 3px;
  }

  #hand-region .tall-domino {
    margin: 0px 3px 3px 3px;
  }

  #message-region {
    padding: 3px 100px;
    height: 80px;
    width: 500px;
    overflow: hidden;
    margin-bottom: 8px;
  }

  .commentary {
    background: #FFF;
    color: #000;
    font-size: 14px;
    height: 60px;
    width: 500px;
    padding: 8px;
    border: 2px solid #000;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
  }

  .commentary .player_name {
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }

  #moneycall-region {
    width: 250px;
  }

  #container-moneycall-region {
    border: 1px solid #000;
    width: 81px;
    margin: 0 auto 13px auto;
  }

  .count {
    width: 25px;
    height: 21px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    padding: 3px 0 0 0;
  }

  .count-value {
    text-align: center;
    vertical-align: middle;
  }

  #board {
    width: 708px;
    height: 506px;
    background: no-repeat url('/images/cardtable.png');
    position: relative;
    overflow: hidden;
  }

  /* Game setup screen styles (select-game and choose-game templates) */
  .seat {
    width: 150px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 22px;
  }

  .seat-column {
    width: 150px;
  }

  #cardtable {
    width: 150px;
    height: 150px;
    background: no-repeat url('/images/tablePlayButton.png');
    margin: 3px 0;
    text-align: center;
    vertical-align: middle;
  }

  #start-game {
    color: #fff;
    width: 150px;
    height: 140px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }

  .choose {
    border-top: 3px solid #000;
    width: 450px;
    margin: 0 auto;
    text-align: center;
  }

  .choice {
    margin: 3px 8px;
    width: 120px;
    height: 160px;
    padding: 4px;
    cursor: pointer;
    text-align: center;
  }

  .choice div.vbone {
    margin: 0 auto;
  }

  #start-the-game {
    background-color: #008080;
    border: 3px solid #CDCDCD;
    width: 424px;
    text-align: center;
    vertical-align: middle;
    padding: 13px;
  }

  #start-the-game span {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  /* Vertical Bone Base */
  .vbone {
    width: 20px;
    height: 40px;
    background-image: url('/images/bone-sprites.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .vblue {
    width: 20px;
    height: 40px;
    background-image: url('/images/bone-sprites.png');
    background-repeat: no-repeat;
    background-position: -20px 0;
  }

  .vgreen {
    width: 20px;
    height: 40px;
    background-image: url('/images/bone-sprites.png');
    background-repeat: no-repeat;
    background-position: -40px 0;
  }

  /* Horizontal Bone Base */
  .hbone {
    width: 40px;
    height: 20px;
    background-image: url('/images/bone-sprites.png');
    background-repeat: no-repeat;
    background-position: -60px 0;
  }

  .hblue {
    width: 40px;
    height: 20px;
    background-image: url('/images/bone-sprites.png');
    background-repeat: no-repeat;
    background-position: -60px -20px;
  }

  .hgreen {
    width: 40px;
    height: 20px;
    background-image: url('/images/bone-sprites.png');
    background-repeat: no-repeat;
    background-position: -100px 0;
  }

  /* Grey placeholders */
  .vbonegrey {
    width: 20px;
    height: 40px;
  }

  .hbonegrey {
    width: 40px;
    height: 20px;
  }

  .grey {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('/images/bone-sprites.png');
    background-repeat: no-repeat;
    background-position: 0 -60px;
    cursor: pointer;
  }

  /* Pip positioning */
  .die {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .one,
  .vtwo,
  .htwo,
  .vthree,
  .hthree,
  .four,
  .five,
  .vsix,
  .hsix {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('/images/bone-sprites.png');
    background-repeat: no-repeat;
  }

  .one {
    background-position: 0 -40px;
  }

  .vtwo {
    background-position: -20px -40px;
  }

  .htwo {
    background-position: -20px -60px;
  }

  .vthree {
    background-position: -40px -40px;
  }

  .hthree {
    background-position: -40px -60px;
  }

  .four {
    background-position: -60px -40px;
  }

  .five {
    background-position: -80px -40px;
  }

  .vsix {
    background-position: -100px -40px;
  }

  .hsix {
    background-position: -100px -60px;
  }

  /* Pip positioning offsets */
  .h2nd {
    left: 20px;
  }

  .v2nd {
    top: 20px;
  }

  .hdouble {
    margin-left: -10px;
  }

  .vdouble {
    margin-top: -10px;
  }

  /* Dynamic state classes */
  .unplayable {
    border: 2px solid black;
  }

  .playable {
    border: 2px solid var(--color-playable-green);
    cursor: pointer;
  }

  .chosen {
    border: 2px solid var(--color-chosen-blue);
    cursor: pointer;
  }

  .yourturn {
    background-color: var(--color-turn-yellow);
  }
}